---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

// Custom CSS
.page__comments {
  margin-top: 2em;
  padding-top: 1em;
  width: 100%;
  max-width: 100%;
  padding-left: 0;
  padding-right: 0;
  border-top: none; // Remove top border
}

.giscus {
  padding-bottom: 3em;
}

// Remove horizontal lines
.page__content + .page__meta + .page__comments {
  border-top: none;
}

// Remove extra horizontal lines
hr {
  display: none;
}

// Keep specific horizontal lines we want to display
.page__content hr,
.page__footer hr {
  display: block;
}
