---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

// Custom CSS
.page__comments {
  margin-top: 2em;
  padding-top: 1em;
  border-top: 1px solid #f2f3f3;
  width: 100%;
  max-width: 100%;
  padding-left: 0;
  padding-right: 0;
}

.giscus {
  padding-bottom: 3em;
}
